* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  background: #000000 url('../ControleDisplay.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
  margin: 0;
  overflow: unset;
}

ul.menuh {
  display: flex;
  justify-content: space-around;
  height: 30px;
  line-height: 30px;
  height: 30px;
}

.header {
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
}

.link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: 	#E0FFFF;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  display: block;
  background-color: rgba(0, 0, 0, 0.884);
  font-size: 14px;
  height: 100%;
}

.list li{
  list-style-type: none;
  display: inline;
  margin: 0 1rem;
  width: 100%;
  transform: translate(-30px, 62px);
}

.text {
  width: 100%;
  position: fixed;
  bottom: 400px;
  color: rgb(63, 110, 212);
  font-size: large;
  font: italic small-caps bold 55px "Comic Sans MS", sans-serif;  
  height: 0px
}

.menuh :hover {
  border-radius: 25px;
  background-color: rgba(26, 26, 26, 0.932);
  text-decoration: none;
}

div a{
  text-decoration: none;
  color: white;
  transition: .25s ease-in-out;
}

div a:hover{
  color:#707070;
}

.footer{
  color: 	rgb(70, 70, 145);
  font-style: italic;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #000000;
  border-radius: 25px;
}

.titulomine{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.textomine {
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.cardmine{
  width: 100%;
  margin-right: 50%;
  margin-top: 50%;
  transform: translate(0, -3);
}

.botaomine{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}

.corporeddead{
  transform: translate(512px, -595px);
}

.cardreddead{
  width: 100%;
  transform: translate(512px, -595px);
}

.tituloreddead{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.textoreddead{
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.botaoreddead{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}

.corpogtav{
  transform: translate(1080px, -1150px)
}

.cardgtav{
  width: 120%;
  height: 265px;
  transform: translate(1050px, -1150px);
}

.titulogtav{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.textogtav{
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.botaogtav{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}

.corpoforza{
  transform: translate(0px, -1100px)
}

.tituloforza{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.textoforza{
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.cardforza{
  width: 100%;
  height: 265px;
  transform: translate(0px, -1100px);
}

.botaoforza{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}

.corpocs{
  transform: translate(518px, -1641px)
}

.titulocs{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.textocs{
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.cardcsgo{
  width: 300px;
  height: 300px;
  transform: translate(512px, -1641px);
}

.botaocs{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}

.corpopes{
  transform: translate(1080px, -2240px)
}

.textopes{
  color: #E0FFFF;
  border: 2px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: left;
}

.titulopes{
  text-align: center;
  border: 3px solid #E0FFFF;
  background-color: rgba(0, 0, 0, 0.884);
  color: #E0FFFF;
}

.cardpes{
  width: 100%;
  height: 300px;
  transform: translate(1080px, -2240px);
}

.botaopes{
  background-color: blue;
  color: #E0FFFF;
  border-radius: 5px;
  border: 10px solid blue;
  margin-left: 80px;
}



/*
#list {
  display: auto;
  bottom: 1rem;
  text-align: center;
  width: 100%;
  height: 0px;
  margin-bottom: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  position: fixed;
  bottom: 750px;
}



#text {
  float: center;
  display: auto;
  bottom: 4rem;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 500px
}

#logo {
  display: auto;
  bottom: 4rem;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: -100px;
}

.menuh {
  margin-left: 9%;
  padding: 0;
  width: auto;
  height: 30px; 
}

.menuh :hover {
  border-radius: 25px;
  background-color: #2ca0ee;
  text-decoration: none;
}
*/